<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%t] %d{HH:mm:ss,SSS} %-5p [%C{1}][%c{1}] %m%n" />
<!--            Thread name  + time + priority + testname + message-->
        </Console>
    </Appenders>

    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>

</Configuration>